{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <!-- PREVIEW -->

    <div class="modal">
        <h1 id="testid" data-content="TINA&nbsp;SCHUMANN">TINA&nbsp;SCHUMANN</h1>
    </div>

    <!-- MENU AND TEXT LOGO -->

    <div class="menu collapse">
        <h2>TINA SCHUMANN LOGO</h2>
        <h1>TINA SCHUMANN</h1>
        <span>makeup &amp; beauty</span>
        <nav id="cbp-fbscroller1" class="cbp-fbscroller">
            <a href="#fbsection1" class="cbp-fbcurrent">HELLO</a>
            <a href="#fbsection2">TINA</a>
            <a href="#fbsection4">MAKEUP</a>
            <a href="#fbsection6">KONTAKT</a>
        </nav>
        <p class="copy">All right reserved {{ "now"|date('Y') }}
            <span>Designed by <a href="mailto:tow.berlin@gmail.com" target="_blank">Torsten</a></span>
        </p>
        <a class="tablet-close icon-menu"><i class="fa fa-align-justify"></i></a>
    </div>
    <div id="cbp-fbscroller" class="cbp-fbscroller">

        <!-- TEXT IN MIDDLE IMAGE TOP -->

        <section id="fbsection1">
            <div class="block">
                <span class="effectopacity"></span>
                <div class="tablet-logo">
                    <div class="inner-tablet-logo">
                        <h1>TINA SCHUMANN</h1>
                        <span>makeup &amp; beauty</span>
                    </div>
                </div>
            </div>
        </section>

        <!-- SECTION ABOUT -->

        <section class="about" id="fbsection2">
            <div class="block">
                <div id="content_1" class="inner-left">
                    <header>WHO I AM</header>
                    <ul class="about-data">
                        <li>
                            <div class="inner-abcoin"><i class="fa fa-user"></i></div>
                            <label>Name</label>
                            <span class="value">Brown Smith</span>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <div class="inner-abcoin"><i class="fa fa-calendar"></i></div>
                            <label>Date of birth</label>
                            <span class="value">June 22, 1978</span>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <div class="inner-abcoin"><i class="fa fa-map-marker"></i></div>
                            <label>City</label>
                            <span class="value">San Francisco , CA</span>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <div class="inner-abcoin"><i class="fa fa-envelope"></i></div>
                            <label>Email</label>
                            <span class="value">jen.smith@gmail.com</span>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <div class="inner-abcoin"><i class="fa fa-mobile"></i></div>
                            <label>Phone</label>
                            <span class="value">+123 (21) 1234-5678</span>
                            <div class="clear"></div>
                        </li>
                    </ul>

                    <p class="about-desc"><i class="fa fa-quote-left"></i>&nbsp;
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec nulla sagittis, scelerisque mi vitae, congue turpis. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Etiam nec nulla sagittis, scelerisque mi vitae, congue turpis.&nbsp;&nbsp;<i class="fa fa-quote-right"></i>
                    </p>

                    <!-- ABOUT SERVICES 1 -->

                    <header>MY SERVICES I</header>
                    <div class="services pack-service">
                        <div class="service">
                            <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                            <div class="service-detail">
                                <h6>Responsive</h6>
                                <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="services pack-service">
                        <div class="service">
                            <div class="service-icon"><i class="fa fa-cogs"></i></div>
                            <div class="service-detail">
                                <h6>Easy Use</h6>
                                <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="services pack-service">
                        <div class="service">
                            <div class="service-icon"><i class="fa fa-tag"></i></div>
                            <div class="service-detail">
                                <h6>Unique</h6>
                                <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>

                    <!-- ABOUT SERVICES 2 -->

                    <header>MY SERVICES II</header>
                    <div class="services pack-service2">
                        <div class="service2">
                            <div class="service-icon2"><i class="fa fa-arrows-alt"></i></div>
                            <div class="service-detail2">
                                <h6>Responsive</h6>
                                <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="services pack-service2">
                        <div class="service2">
                            <div class="service-icon2"><i class="fa fa-globe"></i></div>
                            <div class="service-detail2">
                                <h6>Easy Use</h6>
                                <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="services pack-service2">
                        <div class="service2">
                            <div class="service-icon2"><i class="fa fa-cog"></i></div>
                            <div class="service-detail2">
                                <h6>Unique</h6>
                                <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SECTION EXPERIENCES -->


        <!-- SECTION PORTFOLIO MODES -->

        <section id="fbsection4">
            <div class="block">
                <div id="bl-main" class="bl-main">
                    <section>
                        <a href="img/models/1.jpg" class="bl-box fancybox-effects-d" title="">
                            <span class="project-title">JAPAN RELAX &amp; ROOM</span>
                        </a>
                    </section>
                    <section>
                        <a href="img/models/2.jpg" class="bl-box fancybox-effects-d" title="">
                            <span class="project-title">STYLE AGENCY</span>
                        </a>
                    </section>
                    <section>
                        <a href="img/models/3.jpg" class="bl-box fancybox-effects-d" title="">
                            <span class="project-title">LIVING ROOM</span>
                        </a>
                    </section>
                    <section>
                        <a href="img/models/4.jpg" class="bl-box fancybox-effects-d" title="">
                            <span class="project-title">BUTTERFLY</span>
                        </a>
                    </section>
                    <section class="projects-full">
                        <a href="img/models/5.jpg" class="bl-box fancybox-effects-d" title="">
                            <span class="project-title">BLUE ROOM SPOTS</span>
                        </a>
                    </section>
                    <section>
                        <a href="img/models/6.jpg" class="bl-box fancybox-effects-d" title="">
                            <span class="project-title">RELAX STYLE</span>
                        </a>
                    </section>
                    <section>
                        <a href="img/models/7.jpg" class="bl-box fancybox-effects-d" title="">
                            <span class="project-title">PRIVATE RESIDENCE</span>
                        </a>
                    </section>
                    <section>
                        <a href="img/models/8.jpg" class="bl-box fancybox-effects-d" title="">
                            <span class="project-title">RED BED ROOM</span>
                        </a>
                    </section>
                    <section class="projects-full">
                        <a href="img/models/9.jpg" class="bl-box fancybox-effects-d" title="">
                            <span class="project-title">JAPAN FUSION</span>
                        </a>
                    </section>
                </div>
            </div>
        </section>

        <section id="fbsection6">
            <div class="block">
                <div class="inner-left">
                    <header class="contact-title">CONTACT ME</header>
                    <form id="contact_form" class="email-form" method="post" action="">
                        <input name="name" id="name" placeholder="Name">
                        <input type="email" name="email" id="email" placeholder="E-mail" required>
                        <textarea name="message" id="message" placeholder="Message" cols="30" rows="10"></textarea>
                        <input type="submit" class="btn" value="SUBMIT">
                        <p class="success">Your message has been sent successfully.</p>
                        <p class="error">E-mail must be valid and message must be longer than 20 characters.</p>
                    </form>
                    <ul class="socials">
                        <li class="icon-twitter twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li class="icon-behance behance"><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li class="icon-pinterest google"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
